ul{ 
    list-style-type: none;
}

li {
   display: inline; 
}

body{
    background-color: #7e4ca3cd ;
    font-family: 'Lucida Console', monospace;
    text-align: center;
}

a {
    color: #efcbfe;
}

a:hover {
    color: #f07167;
}

.galeria img{
    width: 30%;
    height: 360px;
    border-radius: 50px;
    transition: transform 0.2s;
}

.galeria{ 
    display: flex ;
    flex-wrap: wrap;
    gap: 30px
}

.galeria img:hover{
    transform: scale(1.05);
}

h2{
    color:rgb(222, 200, 235)

}

.biografia{
    display: flex;
}

.biografia img{
    width: 200px; /*mudar a largura*/ 
}

.biografia p{
    max-width: 50%;
    color:azure;
}

.contato img{
    width: auto;
    height: 80px;
    transition: transform 0.2s;
    padding: 10px;
}
.contato img:hover{
    transition: scale(1.5);
}

.contato{
    padding: 80px;
}
.contato a{
    text-decoration: none;
}